.dashbaurd-background-cover {
  background-image: url('../../images/4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 66, 75, 0.171);
  backdrop-filter: blur(3px);
}

@media only screen and (max-width: 660px) {
  .overlay {
    backdrop-filter: blur(0px);
  }
}

#job-search-inputs {
  position: absolute;
  top: 0;
}

.header {
  width: 70%;
  max-width: 30rem;
  margin: 0 auto;
}

.header img {
  width: 100%;
  max-width: 80rem;
}

.job-search-form .header h1 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

#job-search-inputs {
  width: 100%;
}

.job-search-form .input-feild input,
.job-search-form button {
  display: block;
  border-radius: 30px;
  border: none;
  height: 3rem;
  width: 80%;
  outline: none;
  margin: 1rem auto;
  max-width: 28rem;
}

.job-search-form .input-feild input {
  font-size: 1.3rem;
  color: #222;
  padding: 0 1rem 0 1rem;
}

.suggested-places-container {
  display: block;
  border-radius: 10px;
  margin: 0rem auto 1rem auto;
  width: 80%;
  max-width: 28rem;
  overflow: hidden;
}

.suggested-place {
  font-size: 1.2rem;
  padding: 0.4rem;
  border-bottom: solid #ccc 1px;
}

#previous-searches {
  border: solid white 1px;
  border-radius: 5px;
  width: 50%;
  max-width: 20rem;
  margin: 2rem auto;
  color: white;
  background: rgba(0, 15, 48, 0.664);
  text-align: center;
}
.previous-search-header {
  font-size: 1.3rem;
  text-align: center;
  padding: 0;
  margin: 1rem;
  display: inline-block;
}
#previous-searches ul {
  padding: 0;
  list-style: none;
}
.search-term {
  border-top: rgba(255, 255, 255, 0.445) 1px solid;
  padding: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.search-term:hover {
  transition: 0.3s;
  background: rgba(0, 119, 255, 0.555);
}
.search-term a {
  margin: 0;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 660px) {
  .job-search-form .input-feild input {
    font-size: 1rem;
  }
  .job-search-form .header h1 {
    font-size: 2rem;
  }
  .job-search-form .input-feild input,
  .job-search-form button {
    border-radius: 30px;
    height: 2.5rem;
    width: 70%;
    margin: 1rem auto;
    max-width: 20rem;
  }
}

@media only screen and (max-width: 500px) {
  .job-search-form .input-feild input,
  .job-search-form button {
    border-radius: 30px;
    height: 2.5rem;
    width: 55%;
    margin: 1rem auto;
    max-width: 18rem;
  }
}

.jump-start-your-career {
  padding: 1rem 0 0 0;
  margin: 0;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.842);
  text-align: center;
}
